<h1>We are on the New PortfolioCoins Page</h1>

<%= form_with model: @portfolio_coins do |f| %>

  <%= f.label :bitcoin %>
  <%= f.text_field :bitcoin %></br></br>

  <%= f.label :ethereum %>
  <%= f.text_field :ethereum, placeholder: "Leave Blank if 0" %></br></br>

  <%= f.label :monero %>
  <%= f.text_field :monero %></br></br>

  <%= f.label :uniswap %>
  <%= f.text_field :uniswap %></br></br>

  <%= f.label :garlicoin %>
  <%= f.text_field :garlicoin %></br></br>

  <%= f.label :decentraland %>
  <%= f.text_field :decentraland %></br></br>

  <%= f.label :stellar %>
  <%= f.text_field :stellar %></br></br>

  <%= f.label :ripple %>
  <%= f.text_field :ripple %></br></br>

  <%= f.label :litecoin %>
  <%= f.text_field :litecoin %></br></br>

  <%= f.label :chainlink %>
  <%= f.text_field :chainlink %></br></br>

  <%= f.submit %>

<% end %>