<!DOCTYPE html>
<html>
  <head>
    <title>CryptoUsdTotal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div class="container">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>

    <footer class="fixed-bottom">
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>Currency conversion rates courtesy of <%= link_to "CoinGecko", "https://www.coingecko.com/en/api#explore-api" %></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
